In [2]:
import pandas as pd

In [3]:
import numpy as np
import os

In [4]:
#pip install pyarrow
#pip install fastparquet

In [5]:
num_files = 15
files = [f"files/batch_{i}.parquet" for i in range(num_files)]

dfs = [pd.read_parquet(files) for file in files]
combined_df = pd.concat(dfs, ignore_index=True)
combined_df

,Investors,Primary Contact,Description,Geography,Preferred Industry,Preferred Investment Type,Primary Investor Type,geography_tags,preferred_investment_type_tags,preferred_industry_tags
0,Techstars,David Cohen,"Founded in 26, Techstars is an accelerator bas...","Africa, Americas, Asia, Canada, Middle East, O...","Beverages, Computer Hardware, Education and Tr...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, middle east, ...","[accelerator/incubator, early stage vc, later ...","[beverages, computer hardware, education and t..."
1,Y Combinator,David Lieb,"Founded in 25, Y Combinator is an accelerator ...","Africa, Americas, Asia, Europe, Oceania, Unite...","Biotechnology, Commercial Transportation, Comm...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, europe, oceania, unit...","[accelerator/incubator, early stage vc, later ...","[biotechnology, commercial transportation, com..."
2,Plug and Play Tech Center,Marc Steiner,"Founded in 26, Plug and Play Tech Center is an...","Africa, Americas, Asia, Canada, Europe, Middle...","Aerospace and Defense, Animal Husbandry, Aquac...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, europe, middl...","[accelerator/incubator, early stage vc, later ...","[aerospace and defense, animal husbandry, aqua..."
3,Gaingels,Paul Grossinger,"Founded in 214, Gaingels is a venture capital ...","Africa, Americas, Asia, Canada, Europe, Middle...","Business Products and Services (B2B), Consumer...","Early Stage VC, Later Stage VC, PE Growth/Expa...",Venture Capital,"[africa, americas, asia, canada, europe, middl...","[early stage vc, later stage vc, pe growth/exp...","[business products and services (b2b), consume..."
4,Antler,Magnus Grimeland,"Founded in 217, Antler is a venture capital in...","Australia, Brazil, Canada, China, Denmark, Est...","Agriculture, Business Products and Services (B...","Accelerator/Incubator, Early Stage VC, Seed Round",Venture Capital,"[australia, brazil, canada, china, denmark, es...","[accelerator/incubator, early stage vc, seed r...","[agriculture, business products and services (..."
...,...,...,...,...,...,...,...,...,...,...
2330155,ECS Tuning,Imran Jooma,Manufacturer and distributor of automotive par...,,"Commercial Products, Transportation","Add-on, Buyout/LBO, Merger/Acquisition",0,[],"[add-on, buyout/lbo, merger/acquisition]","[commercial products, transportation]"
2330156,ECSEL JU,0,,,"Semiconductors, Software",0,0,[],[0],"[semiconductors, software]"
2330157,Ecster,0,Operator of payment solutions for both busines...,,0,Merger/Acquisition,0,[],[merger/acquisition],[0]
2330158,ECU Health,Michael Waldrum,,,0,Merger/Acquisition,0,[],[merger/acquisition],[0]
2330159,ECU Worldwide,Shashi Kiran Janardhan Shetty,ECU Worldwide is a provider of logistic servic...,,Logistics,Merger/Acquisition,0,[],[merger/acquisition],[logistics]

In [6]:
# import os
# Define the path to your desktop
#desktop_path = os.path.expanduser("~/Desktop/")

# Define the file path for the CSV file on your desktop
#csv_file_path = os.path.join(desktop_path, 'output.csv')

# Export the DataFrame to a CSV file on your desktop
#combined_df.to_csv(csv_file_path, index=False)

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330160 entries, 0 to 2330159
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Investors                       object
 1   Primary Contact                 object
 2   Description                     object
 3   Geography                       object
 4   Preferred Industry              object
 5   Preferred Investment Type       object
 6   Primary Investor Type           object
 7   geography_tags                  object
 8   preferred_investment_type_tags  object
 9   preferred_industry_tags         object
dtypes: object(10)
memory usage: 177.8+ MB

In [8]:
combined_df.drop(columns=['Primary Contact'], inplace=True, errors='ignore')

In [9]:
print(combined_df)

                         Investors  \
0                        Techstars
1                     Y Combinator
2        Plug and Play Tech Center
3                         Gaingels
4                           Antler
...                            ...
2330155                 ECS Tuning
2330156                   ECSEL JU
2330157                     Ecster
2330158                 ECU Health
2330159              ECU Worldwide

                                               Description  \
0        Founded in 26, Techstars is an accelerator bas...
1        Founded in 25, Y Combinator is an accelerator ...
2        Founded in 26, Plug and Play Tech Center is an...
3        Founded in 214, Gaingels is a venture capital ...
4        Founded in 217, Antler is a venture capital in...
...                                                    ...
2330155  Manufacturer and distributor of automotive par...
2330156
2330157  Operator of payment solutions for both busines...
2330158
2330159  ECU Worldwide is a provider of logistic servic...

                                                 Geography  \
0        Africa, Americas, Asia, Canada, Middle East, O...
1        Africa, Americas, Asia, Europe, Oceania, Unite...
2        Africa, Americas, Asia, Canada, Europe, Middle...
3        Africa, Americas, Asia, Canada, Europe, Middle...
4        Australia, Brazil, Canada, China, Denmark, Est...
...                                                    ...
2330155
2330156
2330157
2330158
2330159

                                        Preferred Industry  \
0        Beverages, Computer Hardware, Education and Tr...
1        Biotechnology, Commercial Transportation, Comm...
2        Aerospace and Defense, Animal Husbandry, Aquac...
3        Business Products and Services (B2B), Consumer...
4        Agriculture, Business Products and Services (B...
...                                                    ...
2330155                Commercial Products, Transportation
2330156                           Semiconductors, Software
2330157                                                  0
2330158                                                  0
2330159                                          Logistics

                                 Preferred Investment Type  \
0        Accelerator/Incubator, Early Stage VC, Later S...
1        Accelerator/Incubator, Early Stage VC, Later S...
2        Accelerator/Incubator, Early Stage VC, Later S...
3        Early Stage VC, Later Stage VC, PE Growth/Expa...
4        Accelerator/Incubator, Early Stage VC, Seed Round
...                                                    ...
2330155             Add-on, Buyout/LBO, Merger/Acquisition
2330156                                                  0
2330157                                 Merger/Acquisition
2330158                                 Merger/Acquisition
2330159                                 Merger/Acquisition

         Primary Investor Type  \
0        Accelerator/Incubator
1        Accelerator/Incubator
2        Accelerator/Incubator
3              Venture Capital
4              Venture Capital
...                        ...
2330155                      0
2330156                      0
2330157                      0
2330158                      0
2330159                      0

                                            geography_tags  \
0        [africa, americas, asia, canada, middle east, ...
1        [africa, americas, asia, europe, oceania, unit...
2        [africa, americas, asia, canada, europe, middl...
3        [africa, americas, asia, canada, europe, middl...
4        [australia, brazil, canada, china, denmark, es...
...                                                    ...
2330155                                                 []
2330156                                                 []
2330157                                                 []
2330158                                                 []
2330159                                                 []

                            preferred_investment_type_tags  \
0        [accelerator/incubator, early stage vc, later ...
1        [accelerator/incubator, early stage vc, later ...
2        [accelerator/incubator, early stage vc, later ...
3        [early stage vc, later stage vc, pe growth/exp...
4        [accelerator/incubator, early stage vc, seed r...
...                                                    ...
2330155           [add-on, buyout/lbo, merger/acquisition]
2330156                                                [0]
2330157                               [merger/acquisition]
2330158                               [merger/acquisition]
2330159                               [merger/acquisition]

                                   preferred_industry_tags
0        [beverages, computer hardware, education and t...
1        [biotechnology, commercial transportation, com...
2        [aerospace and defense, animal husbandry, aqua...
3        [business products and services (b2b), consume...
4        [agriculture, business products and services (...
...                                                    ...
2330155              [commercial products, transportation]
2330156                         [semiconductors, software]
2330157                                                [0]
2330158                                                [0]
2330159                                        [logistics]

[2330160 rows x 9 columns]

In [10]:
combined_df.isnull().sum()

Investors                            0
Description                          0
Geography                            0
Preferred Industry                 210
Preferred Investment Type         8700
Primary Investor Type             9960
geography_tags                       0
preferred_investment_type_tags       0
preferred_industry_tags              0
dtype: int64

In [11]:
drop_df = combined_df.dropna()

In [12]:
drop_df

,Investors,Description,Geography,Preferred Industry,Preferred Investment Type,Primary Investor Type,geography_tags,preferred_investment_type_tags,preferred_industry_tags
0,Techstars,"Founded in 26, Techstars is an accelerator bas...","Africa, Americas, Asia, Canada, Middle East, O...","Beverages, Computer Hardware, Education and Tr...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, middle east, ...","[accelerator/incubator, early stage vc, later ...","[beverages, computer hardware, education and t..."
1,Y Combinator,"Founded in 25, Y Combinator is an accelerator ...","Africa, Americas, Asia, Europe, Oceania, Unite...","Biotechnology, Commercial Transportation, Comm...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, europe, oceania, unit...","[accelerator/incubator, early stage vc, later ...","[biotechnology, commercial transportation, com..."
2,Plug and Play Tech Center,"Founded in 26, Plug and Play Tech Center is an...","Africa, Americas, Asia, Canada, Europe, Middle...","Aerospace and Defense, Animal Husbandry, Aquac...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, europe, middl...","[accelerator/incubator, early stage vc, later ...","[aerospace and defense, animal husbandry, aqua..."
3,Gaingels,"Founded in 214, Gaingels is a venture capital ...","Africa, Americas, Asia, Canada, Europe, Middle...","Business Products and Services (B2B), Consumer...","Early Stage VC, Later Stage VC, PE Growth/Expa...",Venture Capital,"[africa, americas, asia, canada, europe, middl...","[early stage vc, later stage vc, pe growth/exp...","[business products and services (b2b), consume..."
4,Antler,"Founded in 217, Antler is a venture capital in...","Australia, Brazil, Canada, China, Denmark, Est...","Agriculture, Business Products and Services (B...","Accelerator/Incubator, Early Stage VC, Seed Round",Venture Capital,"[australia, brazil, canada, china, denmark, es...","[accelerator/incubator, early stage vc, seed r...","[agriculture, business products and services (..."
...,...,...,...,...,...,...,...,...,...
2330155,ECS Tuning,Manufacturer and distributor of automotive par...,,"Commercial Products, Transportation","Add-on, Buyout/LBO, Merger/Acquisition",0,[],"[add-on, buyout/lbo, merger/acquisition]","[commercial products, transportation]"
2330156,ECSEL JU,,,"Semiconductors, Software",0,0,[],[0],"[semiconductors, software]"
2330157,Ecster,Operator of payment solutions for both busines...,,0,Merger/Acquisition,0,[],[merger/acquisition],[0]
2330158,ECU Health,,,0,Merger/Acquisition,0,[],[merger/acquisition],[0]
2330159,ECU Worldwide,ECU Worldwide is a provider of logistic servic...,,Logistics,Merger/Acquisition,0,[],[merger/acquisition],[logistics]

In [13]:
drop_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2320140 entries, 0 to 2330159
Data columns (total 9 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Investors                       object
 1   Description                     object
 2   Geography                       object
 3   Preferred Industry              object
 4   Preferred Investment Type       object
 5   Primary Investor Type           object
 6   geography_tags                  object
 7   preferred_investment_type_tags  object
 8   preferred_industry_tags         object
dtypes: object(9)
memory usage: 177.0+ MB

In [14]:
drop_df.columns

Index(['Investors', 'Description', 'Geography', 'Preferred Industry',
       'Preferred Investment Type', 'Primary Investor Type', 'geography_tags',
       'preferred_investment_type_tags', 'preferred_industry_tags'],
      dtype='object')

In [15]:
drop_df.isin(['', '0', '[]', '[0]'])

,Investors,Description,Geography,Preferred Industry,Preferred Investment Type,Primary Investor Type,geography_tags,preferred_investment_type_tags,preferred_industry_tags
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2330155,False,False,True,False,False,True,True,False,False
2330156,False,True,True,False,True,True,True,False,False
2330157,False,False,True,True,False,True,True,False,False
2330158,False,True,True,True,False,True,True,False,False
2330159,False,False,True,False,False,True,True,False,False

In [16]:
drop_df.isin(['', '0', '[]', '[0]']).any(axis=1)

0          False
1          False
2          False
3          False
4          False
           ...
2330155     True
2330156     True
2330157     True
2330158     True
2330159     True
Length: 2320140, dtype: bool

In [17]:
~drop_df.isin(['', '0', '[]', '[0]']).any(axis=1)

0           True
1           True
2           True
3           True
4           True
           ...
2330155    False
2330156    False
2330157    False
2330158    False
2330159    False
Length: 2320140, dtype: bool

In [18]:
drop_df = drop_df[~drop_df.isin(['', '0', '[]', '[0]']).any(axis=1)]

In [19]:
data1 = {
    'Category': ['A', 'B', 'A', 'C', 'B']
}

df3 = pd.DataFrame(data1)

# Convert the categorical column 'Category' into dummy variables
dummy_df = pd.get_dummies(df3['Category'], prefix='Category')

# Concatenate the dummy variables with the original DataFrame
df3 = pd.concat([df3, dummy_df], axis=1)

df3

  Category  Category_A  Category_B  Category_C
0        A        True       False       False
1        B       False        True       False
2        A        True       False       False
3        C       False       False        True
4        B       False        True       False

In [20]:
drop_df

,Investors,Description,Geography,Preferred Industry,Preferred Investment Type,Primary Investor Type,geography_tags,preferred_investment_type_tags,preferred_industry_tags
0,Techstars,"Founded in 26, Techstars is an accelerator bas...","Africa, Americas, Asia, Canada, Middle East, O...","Beverages, Computer Hardware, Education and Tr...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, middle east, ...","[accelerator/incubator, early stage vc, later ...","[beverages, computer hardware, education and t..."
1,Y Combinator,"Founded in 25, Y Combinator is an accelerator ...","Africa, Americas, Asia, Europe, Oceania, Unite...","Biotechnology, Commercial Transportation, Comm...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, europe, oceania, unit...","[accelerator/incubator, early stage vc, later ...","[biotechnology, commercial transportation, com..."
2,Plug and Play Tech Center,"Founded in 26, Plug and Play Tech Center is an...","Africa, Americas, Asia, Canada, Europe, Middle...","Aerospace and Defense, Animal Husbandry, Aquac...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, europe, middl...","[accelerator/incubator, early stage vc, later ...","[aerospace and defense, animal husbandry, aqua..."
3,Gaingels,"Founded in 214, Gaingels is a venture capital ...","Africa, Americas, Asia, Canada, Europe, Middle...","Business Products and Services (B2B), Consumer...","Early Stage VC, Later Stage VC, PE Growth/Expa...",Venture Capital,"[africa, americas, asia, canada, europe, middl...","[early stage vc, later stage vc, pe growth/exp...","[business products and services (b2b), consume..."
4,Antler,"Founded in 217, Antler is a venture capital in...","Australia, Brazil, Canada, China, Denmark, Est...","Agriculture, Business Products and Services (B...","Accelerator/Incubator, Early Stage VC, Seed Round",Venture Capital,"[australia, brazil, canada, china, denmark, es...","[accelerator/incubator, early stage vc, seed r...","[agriculture, business products and services (..."
...,...,...,...,...,...,...,...,...,...
2330076,Ecosphere Ventures,"Founded in 222, Ecosphere Ventures is a ventur...",United States,"Building Products, Commercial Transportation, ...","Early Stage VC, Seed Round",<span>0.00 - 1.00</span>,[united states],"[early stage vc, seed round]","[building products, commercial transportation,..."
2330078,Ecostar (Accelerator),"Founded in 216, Ecostar is an accelerator inve...",Europe,"Agriculture, Consumer Products and Services (B...","Accelerator/Incubator, Debt Refinancing, Early...",<span>0.16</span>,[europe],"[accelerator/incubator, debt refinancing, earl...","[agriculture, consumer products and services (..."
2330086,Ecosystem Ventures (India),"Founded in 218, Ecosystem Ventures is an angel...",Asia,"Business Products and Services (B2B), Energy, ...","Early Stage VC, Later Stage VC, Seed Round",<span>0.25 - 1.00</span>,[asia],"[early stage vc, later stage vc, seed round]","[business products and services (b2b), energy,..."
2330130,Ecphora Capital,"Founded in 222, Ecphora Capital is a venture c...",Maryland,"Biotechnology, Healthcare Devices and Supplies","Early Stage VC, Seed Round",<span>0.50 - 4.00</span>,[maryland],"[early stage vc, seed round]","[biotechnology, healthcare devices and supplies]"
2330147,ECS Capital,"Founded in 26, ECS Capital is a private equity...",Portugal,"Business Products and Services (B2B), Consumer...","Asset Acquisition, Buyout/LBO, Distressed Acqu...",<span>5.17 - 51.74</span>,[portugal],"[asset acquisition, buyout/lbo, distressed acq...","[business products and services (b2b), consume..."

In [21]:
drop_df.info()

# import os
# Define the path to your desktop
desktop_path = os.path.expanduser("~/Desktop/")

# Define the file path for the CSV file on your desktop
csv_file_path = os.path.join(desktop_path, 'output2.csv')

# Export the DataFrame to a CSV file on your desktop
drop_df.to_csv(csv_file_path, index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 232890 entries, 0 to 2330147
Data columns (total 9 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Investors                       232890 non-null  object
 1   Description                     232890 non-null  object
 2   Geography                       232890 non-null  object
 3   Preferred Industry              232890 non-null  object
 4   Preferred Investment Type       232890 non-null  object
 5   Primary Investor Type           232890 non-null  object
 6   geography_tags                  232890 non-null  object
 7   preferred_investment_type_tags  232890 non-null  object
 8   preferred_industry_tags         232890 non-null  object
dtypes: object(9)
memory usage: 17.8+ MB

## After missing value cleaning, now removing the shifted data.

In [23]:
df_removed_shifted = drop_df[['Description']][drop_df['Description'].str.contains('www.')]
df_removed_shifted

                                   Description
118                                 www.hf.com
251                               www.nhqv.com
338                            www.tdpfund.com
551                          www.andlinger.com
1672                        www.jandjgroup.com
...                                        ...
2328445                      www.dynamicpt.com
2328574                   www.ea-companies.com
2328978            www.earthandbeyond.ventures
2329533                  www.vertexventures.sg
2329652  www.ukinnovationscienceseedfund.co.uk

[4245 rows x 1 columns]

In [24]:
index_list_removed_shifted = df_removed_shifted.index.tolist()
index_list_removed_shifted

[118,
 251,
 338,
 551,
 1672,
 1867,
 1873,
 1950,
 1959,
 1960,
 2437,
 5767,
 6040,
 6983,
 8058,
 8590,
 9463,
 9474,
 9475,
 9536,
 10128,
 11372,
 11483,
 11612,
 11826,
 12002,
 12370,
 13490,
 14180,
 14196,
 14418,
 14590,
 14766,
 15135,
 15141,
 15438,
 15733,
 17349,
 17360,
 17959,
 18049,
 18062,
 18170,
 18191,
 18576,
 18787,
 19131,
 19226,
 19972,
 20308,
 21556,
 22484,
 23489,
 24690,
 25442,
 26351,
 27752,
 29005,
 30053,
 30201,
 30466,
 30870,
 32089,
 32555,
 33122,
 33316,
 33561,
 35955,
 36283,
 38338,
 38471,
 38614,
 39109,
 39302,
 39701,
 39974,
 40586,
 40597,
 40656,
 41211,
 41622,
 41973,
 42174,
 42324,
 42890,
 44752,
 45274,
 45593,
 46461,
 47375,
 47376,
 48286,
 49408,
 49612,
 49850,
 50268,
 51085,
 52212,
 52578,
 53123,
 53147,
 53535,
 54936,
 55367,
 55590,
 55608,
 55955,
 56121,
 56216,
 56271,
 56625,
 57065,
 57096,
 57366,
 57695,
 58985,
 59376,
 59607,
 60028,
 60340,
 60958,
 61254,
 61414,
 62254,
 62735,
 63417,
 63458,
 64478,
 65321,
 65413,
 66289,
 67823,
 68437,
 70917,
 70923,
 73185,
 73188,
 73414,
 73769,
 75368,
 75907,
 76555,
 76559,
 76563,
 76908,
 77040,
 77218,
 77232,
 77425,
 77601,
 78727,
 78754,
 78771,
 79054,
 80209,
 80537,
 81728,
 82997,
 84668,
 85264,
 88238,
 88928,
 89278,
 91238,
 91768,
 92321,
 92432,
 96105,
 97561,
 98579,
 99126,
 99631,
 99640,
 99892,
 100447,
 100933,
 100934,
 101143,
 101190,
 101435,
 102191,
 102388,
 102836,
 103157,
 103653,
 103697,
 104179,
 104310,
 104517,
 104892,
 105086,
 106179,
 106262,
 106282,
 106436,
 106503,
 106570,
 106604,
 107521,
 107623,
 107818,
 107890,
 108241,
 108244,
 108687,
 108969,
 111421,
 112147,
 112174,
 112222,
 112397,
 112500,
 113529,
 113672,
 113691,
 114539,
 114764,
 115079,
 118116,
 118418,
 118461,
 118501,
 119010,
 120439,
 120474,
 120692,
 120827,
 120892,
 121022,
 122394,
 122583,
 122833,
 123016,
 123490,
 124133,
 124678,
 124740,
 124926,
 125258,
 125302,
 125719,
 125784,
 125972,
 126027,
 126082,
 126361,
 127165,
 130493,
 130854,
 131257,
 132631,
 132822,
 133874,
 133905,
 135337,
 137270,
 137467,
 137496,
 137546,
 138146,
 140228,
 140364,
 141802,
 142693,
 142783,
 144732,
 145584,
 146494,
 147165,
 147974,
 149142,
 149538,
 149719,
 150355,
 151086,
 152957,
 152958,
 153206,
 153629,
 153758,
 154162,
 154717,
 154836,
 155462,
 155595,
 155682,
 155895,
 157016,
 157211,
 157217,
 157294,
 157303,
 157304,
 157781,
 161111,
 161384,
 162327,
 163402,
 163934,
 164807,
 164818,
 164819,
 164880,
 165472,
 166716,
 166827,
 166956,
 167170,
 167346,
 167714,
 168834,
 169524,
 169540,
 169762,
 169934,
 170110,
 170479,
 170485,
 170782,
 171077,
 172693,
 172704,
 173303,
 173393,
 173406,
 173514,
 173535,
 173920,
 174131,
 174475,
 174570,
 175316,
 175652,
 176900,
 177828,
 178833,
 180034,
 180786,
 181695,
 183096,
 184349,
 185397,
 185545,
 185810,
 186214,
 187433,
 187899,
 188466,
 188660,
 188905,
 191299,
 191627,
 193682,
 193815,
 193958,
 194453,
 194646,
 195045,
 195318,
 195930,
 195941,
 196000,
 196555,
 196966,
 197317,
 197518,
 197668,
 198234,
 200096,
 200618,
 200937,
 201805,
 202719,
 202720,
 203630,
 204752,
 204956,
 205194,
 205612,
 206429,
 207556,
 207922,
 208467,
 208491,
 208879,
 210280,
 210711,
 210934,
 210952,
 211299,
 211465,
 211560,
 211615,
 211969,
 212409,
 212440,
 212710,
 213039,
 214329,
 214720,
 214951,
 215372,
 215684,
 216302,
 216598,
 216758,
 217598,
 218079,
 218761,
 218802,
 219822,
 220665,
 220757,
 221633,
 223167,
 223781,
 226261,
 226267,
 228529,
 228532,
 228758,
 229113,
 230712,
 231251,
 231899,
 231903,
 231907,
 232252,
 232384,
 232562,
 232576,
 232769,
 232945,
 234071,
 234098,
 234115,
 234398,
 235553,
 235881,
 237072,
 238341,
 240012,
 240608,
 243582,
 244272,
 244622,
 246582,
 247112,
 247665,
 247776,
 251449,
 252905,
 253923,
 254470,
 254975,
 254984,
 255236,
 255791,
 256277,
 256278,
 256487,
 256534,
 256779,
 257535,
 257732,
 258180,
 258501,
 258997,
 259041,
 259523,
 259654,
 259861,
 260236,
 260430,
 261523,
 261606,
 261626,
 261780,
 261847,
 261914,
 261948,
 262865,
 262967,
 263162,
 263234,
 263585,
 263588,
 264031,
 264313,
 266765,
 267491,
 267518,
 267566,
 267741,
 267844,
 268873,
 269016,
 269035,
 269883,
 270108,
 270423,
 273460,
 273762,
 273805,
 273845,
 274354,
 275783,
 275818,
 276036,
 276171,
 276236,
 276366,
 277738,
 277927,
 278177,
 278360,
 278834,
 279477,
 280022,
 280084,
 280270,
 280602,
 280646,
 281063,
 281128,
 281316,
 281371,
 281426,
 281705,
 282509,
 285837,
 286198,
 286601,
 287975,
 288166,
 289218,
 289249,
 290681,
 292614,
 292811,
 292840,
 292890,
 293490,
 295572,
 295708,
 297146,
 298037,
 298127,
 300076,
 300928,
 301838,
 302509,
 303318,
 304486,
 304882,
 305063,
 305699,
 306430,
 308301,
 308302,
 308550,
 308973,
 309102,
 309506,
 310061,
 310180,
 310806,
 310939,
 311026,
 311239,
 312360,
 312555,
 312561,
 312638,
 312647,
 312648,
 313125,
 316455,
 316728,
 317671,
 318746,
 319278,
 320151,
 320162,
 320163,
 320224,
 320816,
 322060,
 322171,
 322300,
 322514,
 322690,
 323058,
 324178,
 324868,
 324884,
 325106,
 325278,
 325454,
 325823,
 325829,
 326126,
 326421,
 328037,
 328048,
 328647,
 328737,
 328750,
 328858,
 328879,
 329264,
 329475,
 329819,
 329914,
 330660,
 330996,
 332244,
 333172,
 334177,
 335378,
 336130,
 337039,
 338440,
 339693,
 340741,
 340889,
 341154,
 341558,
 342777,
 343243,
 343810,
 344004,
 344249,
 346643,
 346971,
 349026,
 349159,
 349302,
 349797,
 349990,
 350389,
 350662,
 351274,
 351285,
 351344,
 351899,
 352310,
 352661,
 352862,
 353012,
 353578,
 355440,
 355962,
 356281,
 357149,
 358063,
 358064,
 358974,
 360096,
 360300,
 360538,
 360956,
 361773,
 362900,
 363266,
 363811,
 363835,
 364223,
 365624,
 366055,
 366278,
 366296,
 366643,
 366809,
 366904,
 366959,
 367313,
 367753,
 367784,
 368054,
 368383,
 369673,
 370064,
 370295,
 370716,
 371028,
 371646,
 371942,
 372102,
 372942,
 373423,
 374105,
 374146,
 375166,
 376009,
 376101,
 376977,
 378511,
 379125,
 381605,
 381611,
 383873,
 383876,
 384102,
 384457,
 386056,
 386595,
 387243,
 387247,
 387251,
 387596,
 387728,
 387906,
 387920,
 388113,
 388289,
 389415,
 389442,
 389459,
 389742,
 390897,
 391225,
 392416,
 393685,
 395356,
 395952,
 398926,
 399616,
 399966,
 401926,
 402456,
 403009,
 403120,
 406793,
 408249,
 409267,
 409814,
 410319,
 410328,
 410580,
 411135,
 411621,
 411622,
 411831,
 411878,
 412123,
 412879,
 413076,
 413524,
 413845,
 414341,
 414385,
 414867,
 414998,
 415205,
 415580,
 415774,
 416867,
 416950,
 416970,
 417124,
 417191,
 417258,
 417292,
 418209,
 418311,
 418506,
 418578,
 418929,
 418932,
 419375,
 419657,
 422109,
 422835,
 422862,
 422910,
 423085,
 423188,
 424217,
 424360,
 424379,
 425227,
 425452,
 425767,
 428804,
 429106,
 429149,
 429189,
 429698,
 431127,
 431162,
 431380,
 431515,
 431580,
 431710,
 433082,
 433271,
 433521,
 433704,
 434178,
 434821,
 435366,
 435428,
 435614,
 435946,
 435990,
 436407,
 436472,
 436660,
 436715,
 436770,
 437049,
 437853,
 441181,
 441542,
 441945,
 443319,
 443510,
 444562,
 444593,
 446025,
 447958,
 448155,
 448184,
 448234,
 448834,
 450916,
 451052,
 452490,
 453381,
 453471,
 455420,
 456272,
 457182,
 457853,
 458662,
 459830,
 460226,
 460407,
 461043,
 461774,
 463645,
 463646,
 463894,
 464317,
 464446,
 464850,
 465405,
 465524,
 466150,
 466283,
 466370,
 466583,
 467704,
 467899,
 467905,
 467982,
 467991,
 467992,
 468469,
 471799,
 472072,
 473015,
 474090,
 474622,
 475495,
 475506,
 475507,
 475568,
 476160,
 477404,
 477515,
 477644,
 477858,
 478034,
 478402,
 479522,
 480212,
 480228,
 480450,
 480622,
 480798,
 481167,
 481173,
 481470,
 481765,
 483381,
 483392,
 483991,
 484081,
 484094,
 484202,
 484223,
 484608,
 484819,
 485163,
 485258,
 486004,
 486340,
 487588,
 488516,
 489521,
 490722,
 491474,
 492383,
 493784,
 495037,
 496085,
 496233,
 496498,
 496902,
 498121,
 498587,
 499154,
 499348,
 499593,
 501987,
 502315,
 504370,
 504503,
 504646,
 505141,
 505334,
 505733,
 506006,
 506618,
 506629,
 506688,
 507243,
 507654,
 508005,
 508206,
 508356,
 508922,
 510784,
 511306,
 511625,
 512493,
 513407,
 513408,
 514318,
 515440,
 515644,
 515882,
 516300,
 517117,
 518244,
 518610,
 519155,
 519179,
 519567,
 520968,
 521399,
 521622,
 521640,
 521987,
 522153,
 522248,
 522303,
 522657,
 523097,
 523128,
 523398,
 523727,
 525017,
 525408,
 525639,
 526060,
 526372,
 526990,
 527286,
 527446,
 528286,
 528767,
 529449,
 529490,
 530510,
 531353,
 531445,
 532321,
 533855,
 534469,
 536949,
 536955,
 539217,
 539220,
 539446,
 539801,
 541400,
 541939,
 542587,
 542591,
 542595,
 542940,
 543072,
 543250,
 543264,
 543457,
 543633,
 544759,
 ...]

In [25]:
drop_df_removed_shift = drop_df.drop(index= index_list_removed_shifted )
drop_df_removed_shift

,Investors,Description,Geography,Preferred Industry,Preferred Investment Type,Primary Investor Type,geography_tags,preferred_investment_type_tags,preferred_industry_tags
0,Techstars,"Founded in 26, Techstars is an accelerator bas...","Africa, Americas, Asia, Canada, Middle East, O...","Beverages, Computer Hardware, Education and Tr...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, middle east, ...","[accelerator/incubator, early stage vc, later ...","[beverages, computer hardware, education and t..."
1,Y Combinator,"Founded in 25, Y Combinator is an accelerator ...","Africa, Americas, Asia, Europe, Oceania, Unite...","Biotechnology, Commercial Transportation, Comm...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, europe, oceania, unit...","[accelerator/incubator, early stage vc, later ...","[biotechnology, commercial transportation, com..."
2,Plug and Play Tech Center,"Founded in 26, Plug and Play Tech Center is an...","Africa, Americas, Asia, Canada, Europe, Middle...","Aerospace and Defense, Animal Husbandry, Aquac...","Accelerator/Incubator, Early Stage VC, Later S...",Accelerator/Incubator,"[africa, americas, asia, canada, europe, middl...","[accelerator/incubator, early stage vc, later ...","[aerospace and defense, animal husbandry, aqua..."
3,Gaingels,"Founded in 214, Gaingels is a venture capital ...","Africa, Americas, Asia, Canada, Europe, Middle...","Business Products and Services (B2B), Consumer...","Early Stage VC, Later Stage VC, PE Growth/Expa...",Venture Capital,"[africa, americas, asia, canada, europe, middl...","[early stage vc, later stage vc, pe growth/exp...","[business products and services (b2b), consume..."
4,Antler,"Founded in 217, Antler is a venture capital in...","Australia, Brazil, Canada, China, Denmark, Est...","Agriculture, Business Products and Services (B...","Accelerator/Incubator, Early Stage VC, Seed Round",Venture Capital,"[australia, brazil, canada, china, denmark, es...","[accelerator/incubator, early stage vc, seed r...","[agriculture, business products and services (..."
...,...,...,...,...,...,...,...,...,...
2330076,Ecosphere Ventures,"Founded in 222, Ecosphere Ventures is a ventur...",United States,"Building Products, Commercial Transportation, ...","Early Stage VC, Seed Round",<span>0.00 - 1.00</span>,[united states],"[early stage vc, seed round]","[building products, commercial transportation,..."
2330078,Ecostar (Accelerator),"Founded in 216, Ecostar is an accelerator inve...",Europe,"Agriculture, Consumer Products and Services (B...","Accelerator/Incubator, Debt Refinancing, Early...",<span>0.16</span>,[europe],"[accelerator/incubator, debt refinancing, earl...","[agriculture, consumer products and services (..."
2330086,Ecosystem Ventures (India),"Founded in 218, Ecosystem Ventures is an angel...",Asia,"Business Products and Services (B2B), Energy, ...","Early Stage VC, Later Stage VC, Seed Round",<span>0.25 - 1.00</span>,[asia],"[early stage vc, later stage vc, seed round]","[business products and services (b2b), energy,..."
2330130,Ecphora Capital,"Founded in 222, Ecphora Capital is a venture c...",Maryland,"Biotechnology, Healthcare Devices and Supplies","Early Stage VC, Seed Round",<span>0.50 - 4.00</span>,[maryland],"[early stage vc, seed round]","[biotechnology, healthcare devices and supplies]"
2330147,ECS Capital,"Founded in 26, ECS Capital is a private equity...",Portugal,"Business Products and Services (B2B), Consumer...","Asset Acquisition, Buyout/LBO, Distressed Acqu...",<span>5.17 - 51.74</span>,[portugal],"[asset acquisition, buyout/lbo, distressed acq...","[business products and services (b2b), consume..."

In [30]:
geography_tags_list = drop_df_removed_shift['geography_tags'].explode().dropna().unique().tolist()
print("Geography Tags:", geography_tags_list)

df_to_excel = pd.DataFrame(geography_tags_list)
df_to_excel

Geography Tags: ['africa', 'americas', 'asia', 'canada', 'middle east', 'oceania', 'united kingdom', 'united states', 'europe', 'australia', 'brazil', 'china', 'denmark', 'estonia', 'france', 'germany', 'india', 'indonesia', 'japan', 'kenya', 'malaysia', 'netherlands', 'norway', 'pakistan', 'philippines', 'portugal', 'singapore', 'south korea', 'spain', 'sweden', 'thailand', 'united arab emirates', 'vietnam', 'north america', 'central america', 'south america', 'israel', 'ireland', 'bay area', 'mexico', 'new york', 'new york metro', 'costa rica', 'cuba', 'dominica', 'el salvador', 'east asia', 'mid atlantic', 'northeast', 'south asia', 'luxembourg', 'hong kong', 'southeast asia', 'taiwan', 'andorra', 'austria', 'belgium', 'czech republic', 'hungary', 'liechtenstein', 'monaco', 'northern europe', 'poland', 'slovakia', 'slovenia', 'switzerland', 'southern europe', 'western europe', 'midwest', 'southeast', 'west coast', 'eastern europe', 'south', 'new zealand', 'indiana', 'california', 'florida', 'saudi arabia', 'england', 'mountain', 'southern california', 'texas', 'north carolina', 'finland', 'iceland', 'italy', 'macau', 'mongolia', 'michigan', 'connecticut', 'argentina', 'bolivia', 'chile', 'colombia', 'ecuador', 'guatemala', 'honduras', 'nicaragua', 'panama', 'paraguay', 'peru', 'uruguay', 'venezuela', 'northwest', 'comoros', 'djibouti', 'mauritius', 'northern africa', 'somalia', 'kentucky', 'belize', 'dominican republic', 'guyana', 'haiti', 'suriname', 'massachusetts', 'scotland', 'caucasus', 'south africa', 'ethiopia', 'dc metro', 'delaware', 'district of columbia', 'great lakes', 'maryland', 'new england', 'new jersey', 'pennsylvania', 'southwest', 'us territories', 'virginia', 'west virginia', 'british columbia', 'quebec', 'turkey', 'central asia', 'eastern africa', 'western africa', 'north korea', 'greenland', 'egypt', 'romania', 'cook islands', 'fiji', 'french polynesia', 'kiribati', 'marshall islands', 'melanesia', 'micronesia', 'nauru', 'new caledonia', 'niue', 'northern mariana islands', 'palau', 'papua new guinea', 'pitcairn islands', 'samoa', 'solomon islands', 'tokelau', 'tonga', 'tuvalu', 'vanuatu', 'wallis and futuna', 'botswana', 'malawi', 'mozambique', 'namibia', 'rwanda', 'tanzania', 'uganda', 'zambia', 'zimbabwe', 'oklahoma', 'bangladesh', 'iowa', 'prince edward island', 'illinois', 'jordan', 'alaska', 'arizona', 'colorado', 'hawaii', 'idaho', 'montana', 'nevada', 'new mexico', 'oregon', 'utah', 'washington', 'wyoming', 'georgia', 'south carolina', 'tennessee', 'greece', 'wine brands intended to make acquisitions and roll up revenue.', 'sint maarten', 'founded in 2', 'ar audit &amp; research is a family office investment firm based in geneva', 'switzerland. the firm seeks to invest in different asset classes including hedge funds', 'private equity and venture funds', 'direct investments', 'real estate', 'collectibles', 'and liquid assets such as bonds', 'equities', 'and cash across the united states', 'asia europe', 'and africa. the firm prefers to invest in the fin-tech', 'health-tech', 'consumer', 'software', 'logistics', 'food-tech', 'clean-tech', 'ai', 'and robotics sectors.', 'board observer at console connect. he served as board member at defense.net. he co-founded &amp', 'middle africa', 'southern africa', 'faroe islands', 'serves as chief executive officer at finlight. mr. jean-bernard tanqueray served as partner at adan corporate. he was an mba candidate at london business school. he serves as the chief investment officer at single private family office. mr. tanqueray holds an mba from london business school', 'ukraine', 'kunkel. mr. curzon is a certified public accountant accredited in business valuation. he is a certified valuation analyst and a certified merger &amp', 'serves as managing director at lead dog ventures. mr. john landry is an angel investor. he also serves as board member at wespire.', '48', '65', 'wisconsin', 'chief executive officer at cpap.com.', 'founded in 215', 'ayady is a private equity investment firm based in cairo', 'egypt. the firm focuses on investments in the fields of financial services', 'education', 'urban development', 'agriculture', 'and energy sectors.', 'alberta', 'manitoba', 'saskatchewan', 'yukon', 'albania', 'croatia', 'latvia', 'lithuania', 'wales', 'ohio', 'russia', "co operates as a digital bank. the company's segment includes banking &amp", 'qatar', 'south muckleford gold project', 'serves as chief operating officer &amp', 'bulgaria', 'north macedonia', 'serbia', 'retro diver collection', 'bahrain', 'western australia', 'missouri', 'northern ireland', 'ontario', 'serves as board member at oqcam. dr. benjamin schrauwen is a co-founder &amp', 'executive director at true global ventures. mr. choo served as a partner at true global ventures. he serves as advisor at tune.fm. he co-founded &amp', 'armenia', 'azerbaijan', 'sudan', 'barbados', 'jamaica', 'trinidad and tobago', 'bosnia and herzegovina', 'montenegro', 'iraq', 'kuwait', 'oman', 'antibiotic drugs', 'non-ferrous metallurgy', 'served as chief executive officer &amp', 'maine', 'new hampshire', 'rhode island', 'sri lanka', 'wealth advisor at morgan stanley. he s an angel investor.', 'chairman of the board at venture securities. he serves as chairman at add health media. he serves as a board member of curus. he served as business advisor at findout diagnostic. he served as board member and commissioner at wehunt.', 'victoria', 'vermont', 'alabama', 'mississippi', 'virgin islands', 'serves as managing partner at hack vc. mr. roman serves as managing partner at hacklegacy. he co-founded enterprise security syndicate. he serves as advisor at lodestar ventures. he also serves as an advisor at boxc. he served as executive-in-residence at crosslink capital. he served as co-chief executive officer at the middleware company. he co-founded and served as chief executive officer &amp', 'kansas', 'nebraska', 'tunisia', 'gibraltar', 'belarus', 'kazakhstan', 'kyrgyzstan', 'tajikistan', 'uzbekistan', 'moldova', 'anguilla', 'antigua', 'bahamas', 'montserrat', 'saint lucia', 'saint vincent', 'sandwich islands', 'turks and caicos', 'myanmar', 'ivory coast', 'morocco', 'senegal', 'lebanon', 'minnesota', 'angola', 'congo', 'lesotho', 'madagascar', 'seychelles', 'is an investor of kohlmann. he is an angel investor. dr. kohlmann served as a venture partner &amp', 'serves as chief executive officer at vertex (lithuania). he co-founded birdchain. he serves as chief executive officer &amp', 'mt dimer', 'drones and systems and structure and disposals. it generates maximum revenue from the drones and systems segment.', 'curacao', 'iran', 'palestine', 'nigeria', 'cambodia', 'nepal', 'technology solutions and customized software development. its product includes the cryptoweb trader platform', 'brunei', 'laos', 'hyundai engineering &amp; construction co works in the construction industry and has completed civil', 'building', 'plant and energy projects. it constructs buildings', 'structures and infrastructure primarily geared toward transportation', 'power stations', 'gas facilities and real estate. the company operates four business segments: building works', 'civil works', 'plant works/electrical works and other. procuring materials and delivering timely performance to develop large', 'complex structures are focuses of the business. the company has a strong sales presence in its home country of korea', 'but it derives the majority of its sales from international projects in asia', 'africa and other regions.', 'louisiana', 'maldives', 'newfoundland and labrador', 'queensland', 'value-added products and services', 'new brunswick', 'nova scotia', 'north dakota', 'south dakota', 'ghana', 'guam', 'flexible packaging and uncoated fine paper. it generates maximum revenue from the flexible packaging segment. the flexible packaging segment includes kraft paper', 'riot control simulator', 'iserhoff', 'cyprus', 'kosovo', 'malta', 'aruba', 'british virgin islands', 'cayman islands', 'grenada', 'saint kitts and nevis', 'benin', 'burkina faso', 'cape verde', 'guinea', 'guinea-bissau', 'liberia', 'mali', 'mauritania', 'niger', 'sierra leone', 'the gambia', 'togo', 'western sahara', 'friends. he served as a advisory board member at nextsociety. he is an angel investor. he served as advisory board member at nextsociety.', 'grow &amp; co is a private equity firm based in london', 'united kingdom. the firm seeks to acquire small businesses within manufacturing', 'healthcare', 'or property sectors.', 'founded in 29', 'smu institute of innovation &amp; entrepreneurship is an accelerator based in singapore. the firm prefers to incubate early-stage businesses operating in the information technology and consumer products and services sectors.', 'algeria', 'libya', "technology co ltd is engaged in production and sales of in vitro diagnostic reagents and instruments. the company's products include fluorescence in situ hybridization (fish) series", 'capital markets', 'orthopedics and aids', 'board member at hypersentience. mr. perry serves as investor &amp', 'customer care', 'gaza strip', 'syria', 'west bank', 'yemen', 'arkansas', 'eritrea', 'mayotte', 'reunion', 'anticipated endowment', 'hivers &amp; strivers is a venture capital firm based in great falls', 'virginia. the firm is industry-agnostic and invest exclusively in companies founded by us military veterans', 'founded in 1986', '1st &amp; main growth partners is a private equity firm based in chicago', 'illinois. the firm seeks to invest in financial services', 'mobile commerce', 'mortgage technology', 'and insurance technology sectors based in the united states region. this firm is a registered investment adviser (ria).', 'founded in 211', 'hughes &amp; company is a private equity investment firm based in chicago', 'illinois. the firm seeks to make growth and buyout investments in lower middle-market healthcare software and tech-enabled service companies headquartered in north america. this firm is a registered investment adviser (ria).', 'guernsey', 'puerto rico', 'bermuda', 'akrotiri and dhekelia', 'australian capital territory', 'new south wales', 'northern territory', 'south australia', 'tasmania', 'for over two decades', 'the global community of angel investors', 'onde voc ter acesso a experincias exclusivas para nossos membros', 'nsw. were a dynamic', 'community', 'the firm has backed over 5+ companies changing how we work', 'experts', "today's candidates are mobile. with mobile recruiting software from mobile talent", 'rendering', 'optimize employee and customer experiences', 'radian thermal products', 'dc', 'sharing', 'launch', 'cut', 'coolsculpting', 'time tracking', "the band of angels is silicon valley's oldest angel investment group. we are an active group of 15 angel investors who are former and current high tech executives who are interested in investing their time and money into new", 'advisory and funding for early-stage', 'ipad', 'l catterton', 'empower your contract review with ai precision. instantly spot risks', 'railways', 'fusion hill focuses on the intersection between research', 'progress monitoring', 'venture capital', 'mid', 'resources', 'stocks', 'from all industries', 'communication', 'piper sandler companies (nyse: pipr) is a leading investment bank and institutional securities firm offering m&a advisory', 'events', 'moonshot', 'sendo uma rede de investidores anjo', 'see here is a baby robotics company making robots for play', 'the most amazing journey deserves seamless', 'coachable reps reach their true potential with expert', 'platforms', 'consultants & real estate developers to track schedule', 'plexxikon has earned a reputation as a leader in targeted drug discovery and translational', "'data centre'", 'the pasadena angels are southern californias most respected and connected group of accredited investors. we have the capital', 'scales', 'we accelerate market-ready climate tech companies through bxv capital and bxv advisory. collaborate with our team of entrepreneurs', 'start-ups', 'fixed-income', 'bonku', 'new world angels provides seed funding and venture capital for qualified early stage', 'its like were kicked out of the party', 'notion', 'indonesia. as the 4th most populous country globally', 'industry and development stage', 'astir ventures is a leading investment firm looking for the next best business idea to nurture and guide to success.astir it solutions', 'our interests are in the areas of saas', 'empowers entrepreneurs', 'maintain information consistency', 'mentorship', 'mortgage', 'social media', 'decentralizing clinical trials', 'entertainment', 'install and integrate smart home systems to work with apple homekit', 'sustainable', 'train', 'to full digital enablement', 'aumente os resultados', 'premium digital assets', 'gurgaon', 'tamiami fund members', 'private equity', 'web development', 'knowledge and network they need to make saving the world their business.because if they win', 'increase sales', 'weve never worked for corporates. instead', 'tv productions', 'providers', 'bids', 'machines  caf', 'general. lewis investment is a trading name of lewis &amp', 'investment in equities and others.', 'enterprise energy efficiency management system', 'super carr', 'member of the supervisory board at orthyo. he also serves as an angel investor at łukasz parafianowicz. he co-founded &amp', 'technology corporates. the company is engaged in hosting and co-working facility services. it is founded in 216 and is headquartered in luxembourg.', 'blue heaven', 'bhutan', 'chief executive officer at automattic. he is the founder &amp', 'group corporate banking and global markets', 'american samoa', 'film exhibition and film rights licensing and sub-licensing', 'managing member at caerus investment advisors. mr. cheung is an angel investor. he is the founder and serves as managing principal at caerus investment advisors. he served as an operating advisor at dugan katragadda.', 'founded in 221', 'milk &amp; honey ventures is a venture capital investment firm headquartered in israel. the firm seeks to invest in companies operating in the food technology', 'agricultural', 'and sustainable protein technologies sector from israel.', 'body care and mineral fusion and sells its all-natural product line at select retailers such as whole foods markets.', 'arranges financing options for customers through financial services partners', 'san marino', 'founded in 1918', 'neudi &amp; co. is a growth and expansion firm based in gothenburg', 'sweden. the firm focuses on real estate', 'finance', 'commerce', 'industrial and technology sectors.', 'online trading', 'founded in 214', 'bdg &amp; partners is a private equity firm that aims to create value by investing in companies where its capital', 'strategic vision', 'global relationships and operational experience can contribute to their growth in local and international markets.', 'founded in 216', '7gc &amp; co is a boutique venture capital investment firm based in luxembourg', 'luxembourg. the firm invests in early growth-stage internet businesses across the united states and europe.', 'mobile services africa', 'afghanistan', 'british indian ocean territory', 'burundi', 'cameroon', 'turkmenistan', 'fraser south nickel copper', 'the west coast consortium for technology &amp; innovation in pediatrics is an accelerator based in chicago', 'illinois. the firm provides grants to companies operating in pediatric medical devices or technology.', 'chief growth officer at gaia design.', 'founded in 218', 'e&amp;venture partners is a venture capital firm headquartered in seoul', 'south korea. the firm invests in startups in the biotechnology and information technology sectors based in south korea.', 'serves as chief executive officer at enuygun. mr. erol caglar is an angel investor. he co-founded and served as chief executive officer at cember.net. he has an mba in business administration from bogazici university.', 'mortgage finance', 'centre for research &amp; innovation in the bio-economy (cribe) is an accelerator/incubator based in thunder bay', 'canada. the firm seeks to provide support', 'mentorship and funding to ontario-based companies operating in the forest-based sectors.', 'falkland islands', 'founded in 1992', 'chartwell investments entrepreneur &amp; founder capital is a private equity investment firm based in new york', 'new york. the firm prefers to invest in companies operating in the food', 'retail', 'distribution', 'business services', 'consumer products and services', 'and manufacturing sectors based in the united states and canada.', 'project management services', 'china science &amp; merchants investment management group is a private investment firm based in beijing', 'china. the firm seeks to invest in consumer products', 'life science', 'pharmaceutical', 'medical equipment', 'farming', 'biotechnology and manufacturing sectors.', 'media', 'swaziland', 'mt nakru', 'long and short-term financing services', 'gabon', 'health', 'territories', 'chad', 'serves as chairman at hivello. he is a co-founder &amp', 'serves as chairman at red swan ventures. he is a co-founder &amp', 'glass bottles', 'mining and industrial']

                                                     0
0                                               africa
1                                             americas
2                                                 asia
3                                               canada
4                                          middle east
..                                                 ...
573                                               chad
574  serves as chairman at hivello. he is a co-foun...
575  serves as chairman at red swan ventures. he is...
576                                      glass bottles
577                              mining and industrial

[578 rows x 1 columns]

In [31]:
df_to_excel.columns = ['Location']
df_to_excel

                                              Location
0                                               africa
1                                             americas
2                                                 asia
3                                               canada
4                                          middle east
..                                                 ...
573                                               chad
574  serves as chairman at hivello. he is a co-foun...
575  serves as chairman at red swan ventures. he is...
576                                      glass bottles
577                              mining and industrial

[578 rows x 1 columns]

In [32]:
%pip install pycountry

import pandas as pd
import zipfile
import io
import requests
import pycountry

Requirement already satisfied: pycountry in /opt/anaconda3/lib/python3.12/site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

In [35]:
# Step 1: 下載並讀取 GeoNames 的城市資料
url = "http://download.geonames.org/export/dump/cities15000.zip"
response = requests.get(url)

if response.status_code == 200:
    with zipfile.ZipFile(io.BytesIO(response.content)) as z:
        with z.open('cities15000.txt') as f:
            columns = [
                'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
                'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
                'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
                'dem', 'timezone', 'modification_date'
            ]
            df_geo = pd.read_csv(f, sep='\t', header=None, names=columns)
else:
    raise Exception("GeoNames 資料下載失敗，請檢查網路。")

# Step 2: 建立 地名 ➜ 國家名稱 的對照字典
def get_country_name(code):
    try:
        return pycountry.countries.get(alpha_2=code).name
    except:
        return None

df_geo['country_name'] = df_geo['country_code'].apply(get_country_name)

# 使用 asciiname 建立城市/地區 對應國家名
location_to_country = dict(zip(df_geo['asciiname'].str.lower(), df_geo['country_name']))

# 加上所有國家名稱的直接對應（像 "Germany" ➜ "Germany"）
for country in pycountry.countries:
    location_to_country[country.name.lower()] = country.name

# Step 3: 建立轉換函數
def standardize_location(value):
    if pd.isna(value):
        return 'N/A'
    name = value.strip().lower()
    return location_to_country.get(name, 'N/A')

# Step 4: 應用到你的 df_to_excel
df_to_excel['Standardized_Country'] = df_to_excel['Location'].apply(standardize_location)

# Step 5: 預覽結果（可省略）
print(df_to_excel[['Location', 'Standardized_Country']])

# Step 6: 儲存結果到 Excel
df_to_excel.to_excel('standardized_locations.xlsx', index=False)

                                              Location Standardized_Country
0                                               africa                  N/A
1                                             americas                  N/A
2                                                 asia          Philippines
3                                               canada               Canada
4                                          middle east                  N/A
..                                                 ...                  ...
573                                               chad                 Chad
574  serves as chairman at hivello. he is a co-foun...                  N/A
575  serves as chairman at red swan ventures. he is...                  N/A
576                                      glass bottles                  N/A
577                              mining and industrial                  N/A

[578 rows x 2 columns]